.login-img{
    background-image: url('https://k33.kn3.net/taringa/B/8/D/F/8/9/aledevotiense/9F9.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    color:white;
    font-size: 2em;
    font-weight: 100;
    height: 250px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: $large;
}

.login-img h1{
    margin: $small;
    padding: 0px;
}